extends layout

block content
  h1 温泉データ
  ul
    li onsen.OnsenName -> #{onsen.OnsenName}
    li onsen.OnsenNameKana ->  #{onsen.OnsenNameKana}
    li onsen.OnsenID ->  #{onsen.OnsenID}
    li onsen.OnsenAddress ->  #{onsen.OnsenAddress}
