/* --------------------------------------------------
    vatriable
-------------------------------------------------- */
/* --------------------------------------------------
    vatriable path
-------------------------------------------------- */
$COMMON: "common/";

/* --------------------------------------------------
    vatriable colors
-------------------------------------------------- */
$MAIN_COLOR : #fff;
$BACKGROUND_COLOR : #000;
$CUTE_COLOR: #FE308A;
$COOL_COLOR: #2283f9;
$PASSION_COLOR: #FFAB02;

/* --------------------------------------------------
    vatriable list
-------------------------------------------------- */
$TYPE : cute cool passion;

/* --------------------------------------------------
    vatriable miscs
-------------------------------------------------- */
$sans-serif: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
